<%provide(:title, 'Home')%>

<h1> Welcome to 4get Ur Password.</h1>
            
<p> Forget Password? Here is the place you can reset your password. Click on any of the following button to get started. </p>



